*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#custom-title-bar {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 0 10px;
    -webkit-app-region: drag; /* 允许拖动窗口 */
  }
  
  #app-title {
    flex-grow: 1;
  }
  
  #btn {
    -webkit-app-region: no-drag; /* 禁止拖动窗口 */
  }
  #minimize-btn, #close-btn {
    width: 30px;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    -webkit-app-region: no-drag; /* 禁止拖动窗口 */

  }

  #content {
    margin: 10px;
  }